* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.grid {
    display: grid;
    border-style: solid;
    grid-template-columns: 0.25fr 1fr 3fr 1fr;
    width: 100vw;
    height: 100vh;
}

.grid-item:nth-child(1) {
    background-color: #202225;
}

.grid-item:nth-child(even) {
    background-color: #2F3136;
}

.grid-item:nth-child(3) {
    background-color: #36393F;
    padding: 0 1em 0em 1em;
}

.channel-nav-flex {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.channel-nav-flex > .user-controls-flex {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    justify-content: space-evenly;
    padding: 1em;
    background-color: #292B2F;
    align-items: center;
    color: #FFFFFF;
}

.settings-button {
    border: 1px solid blue;
    float: right;
}

.message-area-grid {
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    height: 100%;
}

.message-area-item.item1 {
    box-shadow: 0 2px #303237;
}

.message-area-item:first-child {
    padding: 1em;
    margin: auto;
    width: 100%;
    color: #DCDDDE7F;
}

.text-field-box {
    width: 100%;
    height: 3em;
    background-color: #40444B;
    border-radius: 1em;
    border: 1px solid #292B2F;
    padding: 0.5em;
    color: #DCDDDE7F;
}

.message-grid {
    display: grid;
    grid-template-columns: 1fr 15fr;
    grid-column-gap: 1em;
}

.message-grid-item {
    width: 100%;
}

.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.message-grid-item-flex {
    width: 100%;
    height: 100%;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    color: #DCDDDE;
}

.message-grid-item-flex > .flex-item.message {
    margin-top: auto;
}

.message-grid-item.name {
    color: #FFFFFF;
}

.message-grid > .message-grid-item.date {
    grid-column: 1 / span 2;
    text-align: center;
    color: #DCDDDE7F;
    font-size: small;
}