* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 0.25fr 1fr 3fr 1fr;
    width: 100vw;
    height: 100vh;
}

.grid-item:nth-child(1) {
    background-color: #202225;
}

.grid-item:nth-child(even) {
    background-color: #2F3136;
}

.grid-item:nth-child(3) {
    background-color: #36393F;
}

.grid-item:nth-child(4) {
    padding: 1em;
}

.grid-item.item3 {
    overflow-y: hidden;
}

.channel-nav-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.channel-nav-flex > .user-controls-flex {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    background-color: #292B2F;
    align-items: center;
    color: #FFFFFF;
}

.message-area-grid {
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    height: 100%;
}

.message-area-item.item1 {
    height: 100%;
    width: 100%;
    color: #DCDDDE7F;
    box-shadow: 0 2px #303237;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}

.message-area-item.item2 {
    padding: 1em 1em 0 1em;
    overflow-y: auto;
}

.message-area-item.item3 {
    padding: 0 1em;
}

.text-field-box {
    width: 100%;
    height: 3.3333em;
    background-color: #40444B;
    border-radius: 1em;
    border: 1px solid #292B2F;
    padding: 0.5em;
    color: #DCDDDE7F;
}

.message-grid {
    display: grid;
    grid-template-columns: 1fr 15fr;
    grid-column-gap: 1em;
}

.message-grid-item {
    width: 100%;
}

.profile-image {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 2px solid #DCDDDE7F;
}

.message-grid-item-flex {
    width: 100%;
    height: 100%;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    color: #DCDDDE;
}

.message-grid-item-flex > .flex-item.message {
    margin-top: auto;
}

.message-grid-item.name {
    color: #FFFFFF;
}

.message-grid > .message-grid-item.date {
    grid-column: 1 / span 2;
    text-align: center;
    color: #DCDDDE7F;
    font-size: small;
}

.message-grid:hover, .user-list-item:hover, .message-image:hover  {
    background-color: rgba(1, 1, 1, 0.1);
}

.settings-button, .logout-button {
    border: 1px solid #292B2F;
    border-radius: 5px;
    width: 4em;
    height: 2em;
    background-color: #40444B;
    color: #DCDDDE7F;
}

.settings-button:hover, .logout-button:hover {
    color: #40444B;
    background-color: #DCDDDE7F;
    transition: 0.2s;
}

.user-list-flex {
    display: flex;
    flex-direction: column;
}

.user-list-flex > .user-list-item {
    display: flex;
    width: 100%;
    color: #DCDDDE7F;
}

.destroy-button {
    border: 1px solid #292B2F;
    border-radius: 5px;
    width: 4em;
    height: 2em;
    background-color: #ED2939;
    color: #FFFFFF;
    font-size: 1em;
}

.destroy-button:hover {
    color: #ED2939;
    background-color: #FFFFFF;
    transition: 0.2s;
}

.message-media {
    border-radius: 1em;
    max-width: 320px;
    max-height: 240px;
}

#p5-canvas-holder, .channel-nav-flex {
    border: 1px solid red;
}